.App {
  nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    a {
      color: white;
      text-decoration: none;
      font-size: 25px;
      margin: 1em;
      font-weight: bold;
    }
    .active {
      color: rgb(145, 118, 118);
    }
  }
}