.Cars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 80vh;
  font-size: 20px;
  .selected {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  .filter,
  .active {
    padding: 10px 20px;
    min-width: 50px;
    border-radius: 2rem;
  }
  .filter:hover,
  .active {
    background-color: #48b393;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all 0.1s;
  }

  .cars {
    display: grid;
    gap: 20px;
    min-height: 480px;
    grid-template-columns: repeat(3, 1fr);
  }
  .car {
    display: flex;
    height: 250px;
    flex-direction: column;
    background-color: #fafafa;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
    color: black;
    .image {
      width: 200px;
      height: 180px;
    }
    .actions {
      display: flex;
      justify-content: space-around;
      .icon {
        height: 2.5rem;
        cursor: pointer;
      }
      & :hover{
        color: red;
      }
    }
  }
}
